<%= simple_form_for @gold_standard_identity, url: gold_standard_identities_url do |f| %>
  <div class="inputs-container clearfix">
    <div class="row clearfix" id="row1">
      <%= f.input :first_name, label: "Prenom" %>
      <%= f.input :last_name, label: "Nom du Famille" %>
      <%= f.input :alternate_name %>
    </div>
    <div class="row clearfix" id="row2">
      <%= f.input :sex, collection: ["Male", "Female"] %>
      <%= f.input :date_of_birth,  as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year, discard_day: false,
                              order: [:year, :month, :day] %>
    </div>
    <div class="row clearfix" id="row3">
      <%= f.input :province_id, collection: Province.all, label_method: :name, value_method: :id, label: "Province" ,:include_blank => true %>
      <%= f.input :territory_id, collection: Territory.all, label_method: :name, value_method: :id, label: "Territoire" ,:include_blank => true %>
      <%= f.input :collective_id, collection: Collective.all, label_method: :name, value_method: :id, label: "Collectivite" ,:include_blank => true %>
      <%= f.input :territory_id, collection: Group.all, label_method: :name, value_method: :id, label: "Groupement" ,:include_blank => true %>
      <%= f.input :village_id, collection: Village.all, label_method: :name, value_method: :id, label: "Village" ,:include_blank => true %>
    </div>
    <div class="row clearfix" id="row4">
      <%= f.input :alternate_village_status, label: "The village is not listed", as: :boolean  %>
      <%= f.input :alternate_village, disabled: true, wrapper_html: { class: 'blurred' } %>

      <%= f.input :village_of_origin %>
    </div>

    <section class="more-identity-information clearfix">
      <section class="household-info">
        <div class="row clearfix">
          <%= f.input :head_of_household_first_name, label: "Chef Menage", input_html: { placeholder: "Prenom" } %>
          <%= f.input :head_of_household_last_name, label: false, input_html: { placeholder: "Nom du Famille" } %>
        </div>
        <div class="row clearfix">
          <%= f.input :relation_to_head_of_household, label: "Relation Chef Menage", collection: [ "Mother", "Father", "Brother", "Sister", "Grandmother", "Grandfather", "Aunt", "Uncle", "Cousin" ] %>
        </div>
        <div class="row clearfix">
          <%= f.input :household_size, label: "Taille Menage", input_html: { max: 20, min: 1 }  %>
        </div>
      </section>
      <section class="arrival-info">
        <div class="row clearfix">
          <%= f.input :arrival_date %>
        </div>
        <div class="row clearfix">
          <%= f.input :arrival_from_village %>
        </div>
      </section>
    </section>


    <%= f.button :submit, value: "REGISTER" %>
  </div>
<% end %>
