<%= render "layouts/navbar" %>
<%= stylesheet_link_tag "find_matches", media: "all", "data-turbolinks-track" => true %>

<main class="find-matches-page">
  <section class="search-column">
    <section class="search-bar">
    <button id="search-for-matches">Search</button>
    <%= simple_form_for @gold_standard_identity, url: api_gold_standard_identities_url  do |f| %>
     <div class="inputs-container clearfix">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :alternate_name %>
        <%= f.input :sex %>
        <%= f.input :date_of_birth %>
        <%= f.input :village %>
        
      <%= f.button :submit, value: "Submit results" %>
      </div>
    <% end %>
    </section>
    
    <section class="matching-results" id="found-matches">
      <ul></ul>
    </section>
  </section>

  <section class="display-info-column">
    
  </section>

  <section class="household-and-submit-column"></section>
</main>

<%= javascript_include_tag "identity_matches_manifest", "data-turbolinks-track" => true %>