<%= stylesheet_link_tag "find_matches", media: "all", "data-turbolinks-track" => true %>

<section id="recon" class="status-message <%= flash[:status_color] %>">
  <%= flash[:status] %>
</section>

<main class="find-matches-page">
  <section class="search-column">
    <section class="search-bar">
    </section>

    <section class="matching-results" id="found-matches">
      <ul></ul>
    </section>
  </section>

  <section class="display-info-column">
    <h1>Individual Info</h1>
    <section id="featured-identity"></section>
    <h1>Matched Persons</h1>
    <section id="matches">
    </section>
  </section>

  <section class="household-and-submit-column">
    <h1>Household Members</h1>
    <section id="household"></section>
    <section id="reconcile">
      <form action="<%= gold_standard_matches_url %>" method="post" id="create-reconciliations">
        <%= authenticity_token %>
        <div id="base-gold-identity"></div>
        <p>Remember: Before clicking 'Submit Matches', make sure you registered the new identity!</p>
        <p><input type="submit" value="SUBMIT MATCHES" class="submit-button"></p>
      </form>
    </section>
  </section>
</main>

<%= javascript_include_tag "identity_matches_manifest", "data-turbolinks-track" => true %>