<main class="sign-in">
	<% if flash[:status] %>
    <section class="status-message %>">
      <h2><%= flash[:status] %></h2>
    </section>
  <% end %>
  <form class="sign-in-form" action="<%= session_url %>" method="post">
	  <h1>Sign In</h1>
	  <%= authenticity_token %>

		<div class="input">
		 <label for="username">Nom</label>
		 <select class="chosen-select" data-placeholder="S'il vous plaît choisir" id="username" name="username">
		   <option></option>
       <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
       <% end %>
		 </select>
		</div>

		<div class="input">
		  <label for="computer">Nombre d'ordinateurs</label>
    	 <select class="chosen-select" data-placeholder="S'il vous plaît choisir" id="computer_number" name="computer_number">
  		   <option></option>
         <% 8.times do |i| %>
           <option value="<%= i + 1 %>">Ordinateur #<%= i + 1 %></option>
         <% end %>
    	 </select>
	  </div>

		<div class="input">
		  <label for="location">Emplacement</label>
    	 <select class="chosen-select" data-placeholder="S'il vous plaît choisir" id="location" name="location">
  		   <option></option>
         <% ["Training", "Bulengo", "Buhimba", "Lac Vert", "Mgungu 1", "Mgunga 3", "Nzulo"].each do |location| %>
           <option value="<%= location %>"><%= location %></option>
         <% end %>
    	 </select>
	  </div>

		<div class="submit">
			  <input type="submit" value="Se connecter">
		</div>
	</form>
</main>