<main class="manage-csvs">
  <% if flash[:status] %>
    <section class="status-message <%= flash[:status_color] %>">
      <h2><%= flash[:status] %></h2>
    </section>
  <% end %>

  <%= form_tag iom_import_url, multipart: true do %>
    <h2>Import Iom Identities CSV</h2>
    <%= file_field_tag :file %>
    <p></p>
    <%= submit_tag "Import CSV" %>
  <% end %>

  <a href="<%= gold_standard_identities_url %>.csv" class="back-to-registration">
    <section class="back-to-registration">
      Download Current CSV
    </section>
  </a>
</main>
