<%= simple_form_for @idp_trajectory, url: idp_trajectories_url do |f| %>
  <div class="inputs-container clearfix">
    <div class="row clearfix" id="row1">
      <%= f.input :stop_number, as: :integer, label: "Stop Number" %>
      <%= f.input :mode_of_transport, label: "Mode of Transport", collection: ["Foot", "Bus", "Car", "Moto"] %>

      <%= f.input :arrival_date, label: "Date d'arrivee", start_year: Date.today.year - 20, end_year: Date.today.year %>
      <span id="ou">Ou</span>
      <%= f.input :length_stay, as: :integer, input_html: { value: @length_stay, max: 100, min: 0 }, label: "Length of Stay in days"  %>
    </div>	
    <div class="row clearfix" id="row2">
      <%= f.input :province_id, collection: Province.all.order(:name), label_method: :name, value_method: :id, label: "Province" ,:include_blank => true %>
      <%= f.input :territory_id, collection: Territory.all.order(:name), label_method: :name, value_method: :id, label: "Territoire" ,:include_blank => true %>

      <%= f.input :village_id, collection: Village.all.order(:name), label_method: :name, value_method: :id, label: "Village" ,:include_blank => true %>
      <span id="ou">Ou</span>
      <%= f.input :site_id, collection: Site.all.order(:name), label_method: :name, value_method: :id, label: "Site" ,:include_blank => true %>
    </div>
    <div class="row clearfix" id="row3">
      <%= f.input :alternate_village_status, label: "Ce endroit n'est pas sur la liste", as: :boolean  %>
      <%= f.input :alternate_village, disabled: true, label: "Autre Endroit", wrapper_html: { class: 'blurred' } %>
      <%= f.input :arrival_from_type, disabled: true, label: "Cet endroit est: ", wrapper_html: { class: 'blurred' }, collection: [ "Village", "Site des PDIs" ] %>
    </div>

    <%= f.button :submit, value: "Add Stop" %>
  </div>
<% end %>

<!-- , url: idp_trajectories_url do |f|  -->