# encoding: utf-8

<main class="new-gold-standard">
  <h1><%= @header %></h1>
  <% if flash[:status] %>
    <section class="status-message <%= flash[:status_color] %>">
      <h2><%= flash[:status] %></h2>
    </section>
  <% end %>
  <section class="extra-button-container clearfix">
    <button class="cancel-button"><a class="styled-button" href="<%= gold_standard_identity_url(session[:last_registered_identity_id] || 0)%>">CANCEL</a>
    </button>
    <%= button_to "DELETE STOP", {action: "destroy", id: @idp_trajectory.id}, method: :delete, data: { confirm: "Are you sure?" }, form_class: "delete-button" %>
  </section>
  <%= render 'trajectory_form', is_updating: true %>
</main>


<%= javascript_include_tag "page_specific/idp_trajectory_new", "data-turbolinks-track" => true %>