<h2>First Name: <%= iomIdentity.get("first_name") %></h2>
<h2>Last Name: <%= iomIdentity.get("last_name") %></h2>

<div class="left-bio">
  <div>Sex: <%= iomIdentity.get("sex") %></div>
  <div>Date-of-Birth: <%= iomIdentity.get("date_of_birth") %></div>
  <div>Alternate Name: <%= iomIdentity.get("alternate_name") %></div>
   <div>Head of Household: <%= iomIdentity.get("head_of_household_first_name") + " " + iomIdentity.get("head_of_household_last_name") %></div>
   <div>Relation to Head: <%= iomIdentity.get("relation_to_head_of_household") %></div>
   <div>Household Size: <%= iomIdentity.get("household_size") %></div>



</div>
<div class="right-bio">
    <% var prId = iomIdentity.get("province_id") %><% var trId = iomIdentity.get("territory_id") %>
    <% var clId = iomIdentity.get("collective_id") %><% var grId = iomIdentity.get("group_id") %>
    <% var vlId = iomIdentity.get("village_id") %>
   <div>Province: <%= prId && IdentityMatches.Collections.provinces.get(prId).attributes.name %></div>
   <div>Territory: <%= trId && IdentityMatches.Collections.territories.get(trId).attributes.name %></div>
   <div>Collective: <%= clId && IdentityMatches.Collections.collectives.get(clId).attributes.name %></div>
   <div>Group: <%= grId && IdentityMatches.Collections.groups.get(grId).attributes.name %></div>
   <div>Village: <%= vlId && IdentityMatches.Collections.villages.get(vlId).attributes.name %></div>
   <div>Alternate Village: <%= iomIdentity.get("alternate_village") %></div>
</div>
