<%= stylesheet_link_tag "new_identity", media: "all", "data-turbolinks-track" => true %>
  <%= render 'layouts/navbar' %>

<main class="new-identity-page">
  <h1>Enter New Test_IDP Record</h1>

  <section class="form-container">
  <%= simple_form_for @test_idp, url: test_idps_url  do |f| %>
   <div class="inputs-container clearfix">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :age %>
      <%= f.input :sex %>
      <%= f.input :village %>
    </div>
    <%= f.button :submit %>
  <% end %>  
  </section>
  
  <% if flash[:new_record_status] %>
    <section>
      <h2><%= flash[:new_record_status] %></h2>
      <% if @last_test_idp %>
      <h3><%= @last_test_idp.first_name + " " + @last_test_idp.last_name %></h3>
      <ul>
        <li>Age: <%= @last_test_idp.age %></li>
        <li>Sex: <%= @last_test_idp.sex %></li>
      </ul>
      <% end %>
    </section>
  <% end %>
  
  
  <!-- <form action="new_submit" method="get" accept-charset="utf-8">

    <div>
      <label>First Name</label>
      <input type="text" name="idp[first_name]"></input>
    </div>


    <p><input type="submit" value="Continue &rarr;"></p>
  </form>

   -->
  
  
</main>

<style>
::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}
</style>

<script>
$(document).ready(function(){
	
  console.log($($(".error")).parent());
  
  $(".error").each(function(index, elem){
    // console.log(index, elem);
    // console.log("parent: ", );
    var errorText = $(elem).text();
    $(elem).parent().children("input").attr("placeholder", errorText);
    $(elem).text("");
  });
  
  // var errorText = $(".error").text();
  //   $(".error").text("");
  //   $("#test_idp_first_name").attr("placeholder", errorText);
  //
	// $("#modal").on("click", function(event){
	// 	if(event.target.id == this.id){
	// 		event.preventDefault();
	// 		$("#modal").removeClass("is-active");
	// 	};
	// });
	
});
  
</script>