<nav class="navbar clearfix">
  <% if session[:signed_in] %>
  <a href="<%= sign_out_url %>" class="navlink">
    Se déconnecter
  </a>
  <% else %>
  <a href="<%= new_session_url %>" class="navlink">
    Session
  </a>
  <% end %>
  <a href="<%= new_gold_standard_identity_url %>" class="navlink">
    Register New Identity
  </a>
  <a href="<%= find_matches_url %>" class="navlink">
    Reconcile Identities
  </a>
  <a href="<%= new_idp_trajectory_url %>" class="navlink">
    Long Form
  </a>
  <a href="<%= iom_importing_page_url %>" class="navlink">
    Manage CSVs
  </a>
</nav>