<!DOCTYPE html>
<html>
<head>
  <title>IDPApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>
<% if session[:signed_in] %>
<section class="current-status">
  <p>Current User: <%= session[:username] %></p>
  <p>Ordinateur Nombre: <%= session[:computer_number] %></p>
  <p>Emplacement: <%= session[:location] %></p>
</section>
<% end %>
<%= yield %>


<%= javascript_include_tag "chosen.jquery.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "chosen_selector", "data-turbolinks-track" => true %>
</body>
</html>
